.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0;
}

.categories a {
  color: var(--text);
}

.categories .activeLink {
  color: var(--text-h);
  font-weight: 600;
}

.title {
  color: var(--text);
}

.message {
  margin-top: 24px;
  color: var(--text);
  text-align: center;
}
